[Desktop Entry]
Name=Sylpheed
Name[ja]=Sylpheed
Comment=E-Mail client
Comment[fr]=Client de messagerie Èlectronique
Comment[ja]=≈≈ª“•·°º•Î•Ø•È•§•¢•Û•»
Exec=sylpheed
Icon=sylpheed.png
Terminal=0
Type=Application
Categories=Application;Network;
