[Desktop Entry]
Encoding=UTF-8
Name=Sylpheed
Name[ja]=Sylpheed
Comment=E-Mail client
Comment[fr]=Client de messagerie électronique
Comment[ja]=電子メールクライアント
Exec=sylpheed
Icon=sylpheed.png
Terminal=false
Type=Application
Categories=Application;Network;
