[Desktop Entry]
Name=Sylpheed
Name[ja]=Sylpheed
Comment=E-Mail client
Comment[ja]=電子メールクライアント
Exec=sylpheed
Icon=sylpheed.png
Terminal=0
Type=Application
Categories=Application;Network;
